- content_for :top_navigation do
  = render 'congregation/base/top_navigation'

.top-page-actions.clearfix
  .pull-right
    = link_to new_congregation_user_path, class: 'btn btn-danger btn-md' do
      = glyph(:plus)
      Dodaj
- if @users.any?
  %table.table
    %tr
      %th Imię i nazwisko
      %th Numer telefonu
      %th Email
      %th Akcje
    - @users.each do |user|
      %tr
        %td= user.full_name
        %td= user.phone.phone_number
        %td= user.email
        %td

          = link_to edit_congregation_user_path(user), class: 'btn btn-primary btn-sm' do
            = glyph(:edit)
            edycja

          = link_to congregation_user_path(user), class: 'btn btn-danger btn-sm safe-delete ml-15',
            data: { delete_text_info: "Ta akcja pozbawi użytkownika '#{user.full_name}' dostępu do transmisji. Potwierdź."}  do
            = glyph(:trash)
            usuń
- else
  %h1.text-center.no-resources Aktualnie nikt nie ma dostępu do transmisji.