- content_for :top_navigation do
  = render 'admin/base/top_navigation'

.top-page-actions.clearfix
  = link_to edit_admin_cron_wrappers_url, class: 'btn btn-md btn-primary pull-right' do
    = glyph(:edit)
    edycja


- if @cron_wrapper.cron_entries.any?
  %table.table
    %tr
      %th Akcja
      %th Cron Execution
      %th Action Execution

    - @cron_wrapper.cron_entries_with_boot.each do |cron_entry|
      %tr
        %td
          = cron_entry.action_name
        %td
          = cron_entry.decorate.time
        %td
          - if cron_entry.action_label == 'boot'
            = cron_entry.decorate.boot_time
          - else
            = cron_entry.decorate.time