- content_for :top_navigation do
  = render 'admin/base/top_navigation'

.top-page-actions.clearfix
  = link_to edit_admin_cron_wrappers_url, class: 'btn btn-md btn-primary pull-right' do
    = glyph(:edit)
    edycja


- if @cron_wrapper.cron_entries.any?
  %table.table
    %tr
      %th Akcja
      %th Szczegóły

    - @cron_wrapper.cron_entries.each do |cron_entry|
      %tr
        %td= cron_entry.action_name
        %td= cron_entry.decorate.time