#transmission.row
  .col-xs-12
    - if @broadcast
      #video-container.clearfix{ data: { id: @broadcast.broadcast_id } }
        #video-wrapper
          #video

      #user-counts.text-center{ data: { count: current_user.get_count }}
        %p
          %b Ile osób będzie oglądać transmisję?
        %p
          = link_to '1 osoba', public_user_counter_path(count: 1), method: :post, remote: true, class: 'btn btn-default set-count', data: { count: 1 }
          = link_to '2 osoby', public_user_counter_path(count: 2), method: :post, remote: true, class: 'btn btn-default set-count', data: { count: 2 }
          = link_to '3 osoby', public_user_counter_path(count: 3), method: :post, remote: true, class: 'btn btn-default set-count', data: { count: 3 }
          = link_to '4 osoby', public_user_counter_path(count: 4), method: :post, remote: true, class: 'btn btn-default set-count', data: { count: 4 }
          = link_to '5 osób',  public_user_counter_path(count: 5), method: :post, remote: true, class: 'btn btn-default set-count', data: { count: 5 }
          = link_to '6 osób',  public_user_counter_path(count: 6), method: :post, remote: true, class: 'btn btn-default set-count', data: { count: 6 }
          = link_to '7 osób',  public_user_counter_path(count: 7), method: :post, remote: true, class: 'btn btn-default set-count', data: { count: 7 }
          = link_to '8 osób',  public_user_counter_path(count: 8), method: :post, remote: true, class: 'btn btn-default set-count', data: { count: 8 }
          = link_to '9 osób',  public_user_counter_path(count: 9), method: :post, remote: true, class: 'btn btn-default set-count', data: { count: 9 }
          = link_to '10 osób', public_user_counter_path(count: 10), method: :post, remote: true, class: 'btn btn-default set-count', data: { count: 10 }
          = link_to '11 osób', public_user_counter_path(count: 11), method: :post, remote: true, class: 'btn btn-default set-count', data: { count: 11 }
          = link_to '12 osób', public_user_counter_path(count: 12), method: :post, remote: true, class: 'btn btn-default set-count', data: { count: 12 }
          = link_to '13 osób', public_user_counter_path(count: 13), method: :post, remote: true, class: 'btn btn-default set-count', data: { count: 13 }
          = link_to '14 osób', public_user_counter_path(count: 14), method: :post, remote: true, class: 'btn btn-default set-count', data: { count: 14 }
          = link_to '15 osób', public_user_counter_path(count: 15), method: :post, remote: true, class: 'btn btn-default set-count', data: { count: 15 }
    - else
      %p#any-broadcast.text-center.reload-page
        Transmisja nie jest włączona lub nie masz dostępu. Gdy bracia ją włączą pojawi się automatycznie. Jeśli w przeciągu dwóch, trzech minut transmisja nie będzie dostępna odśwież stronę.