- content_for :top_navigation do
  = render 'admin/base/top_navigation'

%h1.page-title Zmiana hasła: #{@congregation.name}

= simple_form_for [:admin, @congregation], url: update_password_admin_congregation_path(@congregation) do |form|
  .row
    .col.xs-12.col-sm-6

      = form.input :password

      .row.form-actions.text-center
        %hr

        = link_to admin_congregations_path, class: 'btn btn-default btn-md' do
          = glyph("circle-arrow-left")
          %span.button-label Anuluj

        = button_tag class: 'btn btn-danger btn-md ml-15', type: 'submit' do
          %span.button-label Zapisz
          = glyph("circle-arrow-right")